/* btn */

.button {
    display: inline-block;
    font-weight: $btn__font-weight;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: $btn__font-size;
    font-weight: $btn__font-weight;
    line-height: $line-height--small;
    border: $border--lightgrey;
}

.button--red {
	background-color: $btn__background--red;
	color: $btn__color--white;

	&:hover {
		background-color: $btn__background--hover;
		text-decoration: underline;
		color: $btn__color--white;
    }

	&:active {
		background-color: $btn__background--active;
		color: $btn__color--white;
	}
}


.button--cream {
	background-color: $btn__background--cream;
	color: $btn__color--black;

	&:hover {
		background-color: $btn__background--hover;
		text-decoration: underline;
		color: $btn__color--white;
	}

	&:active {
		background-color: $btn__background--active;
		color: $btn__color--white;
	}
}

.button--white {
	background-color: $btn__background--white;
	color: $btn__color--white;

	&:hover {
		text-decoration: underline;
		color: $btn__color--white;
}

	&:active {
		background-color: $btn__background--active;
		color: $btn__color--black;
	}
}

.button--grey {
	background-color: $btn__color--grey;
	color: $btn__color--white;
	border: none;

	&:hover {
		background-color: $btn__background--hover;
		text-decoration: underline;
		color: $btn__color--white;
	}

	&:active {
		background-color: $btn__background--active;
		color: $btn__color--white;
	}
}

/* headline */

h1 {
	color: $h1__color;
	font-size: $h1__size;
	font-weight: $h1__weight;
	line-height: $h1__line-height;
	padding: $h1__padding;
	text-align: center;
}

h2 {
	font-size: $h2__size;
	font-weight: $h2__weight;
	line-height: $h2__line-height;
	text-align: center;
}

h3 {
	font-size: $h3__size;
	font-weight: $h3__weight;
	line-height: $h3__line-height;
}

h4 {
	font-size: $h4__size;
	font-weight: $h4__weight;
	line-height: $h4__line-height;
}